.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7rem;
    margin: 0.7rem;
}

.weather-ahead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city {
    display: none;
}

.rain-wind {
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 820px) {
    .flex-wrapper {
        padding: 0.5rem;
        margin-top: 4.8rem;
    }

    .city {
        display: block;
    }
}